{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }} <a href="/docs/overview/introduction">Read more...</a></p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://github.com/victor-smirnov/memoria#build-and-run" role="button">Get Started</a>
      <p class="meta">Open-source ASLv2 Licensed. <a href="https://github.com/victor-smirnov/memoria">GitHub</a></p>
    </div>
  </div>
  <div class="row justify-content-center text-center">
      <div class="col-lg-5"></div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
    <p class="h4" style="color:#ec341f">Applications ⚡</p>
    <div class="col-lg-5">
        <h2 class="h4">Hybrid AI</h2>
        <p>Memoria's Acceleration Architecture is being designed specifically for latency-sensitive applications like Symbolic AI. Advanced data structures to push them beyond their traditional domain. <a href="/docs/applications/aiml">Read more...</a></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Computational Storage</h2>
        <p>Moving transactional and analytical processing closer to the data, right into the storage device. Higher speeds, better durability, energy efficiency and fault tolerance. No OS needed. <a href="/docs/applications/storage">Read more...</a></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Converged Databases</h2>
        <p>Advanced Data Structures for large and small files, tabular data, graphs, spatial indexes, OLTP and analytics, multiple flavours of integrated storage engines. <a href="/docs/applications/db">Read more...</a></p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Accelerated Networking</h2>
        <p>HRPC: transport-agnostic <i>design space</i> message-oriented protocols that can be scaled up to compute clusters and down to hard-wired compute functions for HW/SW co-design. <a href="/docs/overview/hrpc">Read more...</a></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">HW/SW Co-design</h2>
        <p>DSLEngine to support IC extension via <a href="https://circt.llvm.org">Circt/MLIR stack</a>, integrated with the automation platform: compiling queries down to ICs. <a href="/docs/applications/co-design">Read more...</a></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Embedded and IoT</h2>
        <p>Scaling things down: Hermes/HRPC, DSLEngine, language and automation platform, Acceleration Architecture to be scalable to/for small devices. <a href="/docs/applications/eiot">Read more...</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
